* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

header{
    background-color: rgb(0, 0, 209);
    opacity: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;

}

#nav-title{
    margin-right: auto;
    font-size: 2em;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
header a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
    font-size: 1.25em;

}

header a:hover {
    color: #b2dfdb;
}
.history-container li {
    list-style: none;
    padding: 0 20px;
}
.history-container {
    padding-top: 5%;
    background-color: #b2dfdb;
    list-style: none;
    font-size: 1em;

    text-align: center;
    -webkit-flex: 2;
    flex: 2;

}
.history-container a{
    text-decoration: none;
}
.history-content{
margin-left: 10%;
margin-right:10%;
flex: 5;
-webkit-flex:5;
}
.container{
    display: flexbox;
    padding-top: 1em;
    padding-bottom: 5%;
    margin-top: 10%;
    margin-left: 10%;
    display: -webkit-flex;
    display: flex;
    min-height: 100%;
}
.homeBoxerImg{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

  .titleInPage{
    font-size: large;
    margin-top: 400px;
    margin-bottom: 100px;
    justify-content: center;
    text-align: center;

}

#videoDiv {
    width: 100%;
    height: 360px;
    position: relative;
}
#video1 {
    margin: auto;
    display: block;
}
#videoMessage {
    position: absolute;
    top:100%;
    left: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;}


#videoMessage *{
    padding:0.4em;
    margin: 0;
}
#videoMessage {
    text-shadow: 2px 2px 2px #000000;
    color:white;
 }
#videoMessage h1{
    font-size: 2em;
    color:#ffffff;
    text-align:center;
}
#videoMessage h2{
    font-size: 1.5em;
    color:#ffffff;
    text-align:center;
}
#videoMessage h3{
    font-size: 1.2em;
    color:#ffffff;
    text-align:center;
}
.videoClick {
    text-align:center
}
.videoClick a{
    color:white;
    background-color:rgba(241, 241, 241, 0.25);
    font-size: 1.7em;
    cursor:pointer;
    cursor:hand
}