body {
  background-color: #14121b;
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;
}

header {
  background-color: rgb(0, 0, 209);
  opacity: 70%;
}

* {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: deepskyblue;
}

nav .logo {
  margin: 0 0 0 .45em;
}

nav .logo a {
  color: rgb(28, 24, 22);
}

nav .logo,
nav ul {
  list-style: none;
  text-transform: uppercase;
}

nav .logo a,
ul a {
  text-decoration: none;
  letter-spacing: .45rem;
}

nav ul {
  display: flex;
}

nav ul a {
  display: block;
  padding: 1em;
  color: white;
}

nav ul a:hover {
  background: #00ace6;
}

/* *********** media queries *********** */

#history-container{
  margin-top: 10em;
  display: flex;
  justify-content: flex-start;
  padding-top: 1em;
  padding-bottom: 5%;
  min-height: 100%;
  margin-left: 10em;
  margin-right: 10em ;
}
#history-chapter {
  margin-left: 10em;
  margin-right: 10em ;
  width: 100%;
  padding: 5em;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  list-style: none;
  flex-wrap:wrap;
  align-items: center;
  flex-wrap:wrap; /* added  */
  background-color: #00ace6;
}
#history-chapter a{
  color: white;
}

#history-content p, .history-content h1, .history-content h2 {
  margin-left: 10em;
  margin-right: 10em ;
  flex-wrap:wrap;
  align-items: center;
  flex-wrap:wrap; /* added  */
}




#svgBoxerBox {
  display: flex;
  justify-content: flex-end;
}

#svgBoxerBox p,
#svgBoxerBox  h1,
#svgBoxerBox  h2 {
  margin-left: 10em;
  margin-bottom: 2em;
  margin-Top: 2em;
  flex-shrink: inherit;
}

#svgBoxerBox img {
  margin-right: 10em;
  width: 50%;
  height: 50%;

}

#boxStuffBox {
  display: flex;
  justify-content: flex-start;

}

#boxStuffBox img {
  margin-left: 10em;
  width: 50% !important;
  height: 50% !important;
}

#boxStuffBox p {
  margin-right: 10em;
  order: 2;
  flex-shrink: 3;
  flex-wrap: wrap;
  justify-content: end;
  margin-left: 50px;
  justify-content: right;
  text-align: left;

}

.titleInPage {
  font-size: large;
  margin-top: 400px;
  margin-bottom: 100px;
  justify-content: center;
  text-align: center;

}

#contentContainerHome {
  position: relative;
}

#video1 {

  margin: auto;
  display: block;

}

#videoMessage * {

  text-align: center;
  margin-bottom: 10px;
  padding: 0.4em;
}

#videoMessage {
  bottom: 50%;
  right: 30%;
  ;
  background-color: black;
  opacity: 70%;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  text-shadow: 2px 2px 2px #000000;
  color: white;
  border-radius: 2%;
}


#videoMessage h1 {
  font-size: 2em;
  color: #ffffff;
  text-align: center;
}

#videoMessage h2 {
  font-size: 1.5em;
  color: #ffffff;
  text-align: center;
}

#videoMessage h3 {
  font-size: 1.2em;
  color: #ffffff;
  text-align: center;
}


@media (min-width: 3000px) {
  #videoMessage {
    right: 40%;
    bottom: 60%;
  }
}

@media all and (max-width: 1000px) {

  nav .logo {
    margin: .25em 0;
    align-self: left;
  }

  nav ul {
    flex-direction: column;
  }

  nav  ul a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  nav ul li:last-of-type a {
    border-bottom: none;
  }

  #videoMessage {
    right: -20%;
    bottom: 2%;
    font-size: xx-small;
  }

}

@media (max-width: 500px) {
  #videoMessage {
    right: inherit;
    bottom: 2%;
    font-size: xx-small;
  }

  #boxStuffBox p {
    font-size: xx-small;
  }

  #svgBoxerBox p,
  svgBoxerBox h1 {
    font-size: xx-small;
  }

}